<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.java.mapper.PostMapper">
		
 	<update id="likeUp">
 		update post set plike=plike+1 where post_id=#{post_id} 
 	</update>
 	
 	<update id="likeDown">
 		update post set plike=plike-1 where post_id=#{post_id} 
 	</update>
 	
 	<select id="selectMedia" resultMap="pmuDto">
 		select a.*, b.name, b.profile_img, c.media_id, c.file_name, c.file_type 
		from post a, cross_user b, media c
		where b.user_id=a.user_id and a.post_id=c.post_id and b.user_id=#{id}
		order by a.created
 	</select>
 	
 	
 	<resultMap type="com.java.dto.PostMediaUserDto" id="pmuDto">
 		<collection property="postDto" resultMap="postDtoMap"></collection>
 		<collection property="cross_userDto" resultMap="cross_userDtoMap"></collection>
 		<collection property="mediaDto" resultMap="mediaDtoMap"></collection>
 	</resultMap>
 	
 	<resultMap type="com.java.dto.PostDto" id="postDtoMap">
 		<result column="post_id" property="post_id" />
 		<result column="user_id" property="user_id" />
 		<result column="pcontent" property="pcontent" />
 		<result column="plocation" property="plocation" />
 		<result column="plike" property="plike" />
 		<result column="renote" property="renote" />
 		<result column="pgroup" property="pgroup" />
 		<result column="pstep" property="pstep" />
 		<result column="pindent" property="pindent" />
 		<result column="hit" property="hit" />
 		<result column="viewhit0" property="viewhit0" />
 		<result column="viewhit6" property="viewhit6" />
 		<result column="viewhit12" property="viewhit12" />
 		<result column="viewhit18" property="viewhit18" />
 		<result column="created" property="created" />
 		<result column="updated" property="updated" />
 	</resultMap>
 	
 	<resultMap type="com.java.dto.Cross_userDto" id="cross_userDtoMap">
 		<result column="name" property="name" />
 		<result column="profile_img" property="profile_img" />
 	</resultMap>
 	
 	<resultMap type="com.java.dto.MediaDto" id="mediaDtoMap">
 		<result column="media_id" property="media_id" />
 		<result column="file_name" property="file_name" />
 		<result column="file_type" property="file_type" />
 	</resultMap>
 	
</mapper>